header {
    background-color: rgb(218, 246, 255);
    border-radius: 10px;
    padding: 10px;
}
/* Classe começa com . e Id começa om # */
footer {
    text-align: center;
    margin: 30px;
}

.empresas-exp{
    padding-left: 3%;
}

.img-bio img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.portfolio img{
    width: 550px;
    height: 300px;
    border-radius: 1%;
}

body{
    background-color: #f8f9fa !important;
    /* background-color: #000000 !important; */
}

.bio{
    padding-top: 12px;
}

.text-contato{
    text-align: center;
    padding-top: 15px;
}
.text-center{
    text-align: center;
}

.display-flex{
    display: flex;
}

.margin-left-15{
    margin-left: 15px;
}

.espaco-divs-vertical{
    margin-top: 60px;
    margin-bottom: 60px;
}

.espaco-divs-horizontal{
    margin-left: 30px;
    margin-right: 30px;
}
.espaco-divs-horizontal-skills{
    margin-left: 80px;
    margin-right: 80px;
}

#id_home{
    margin-top: 60px !important;
}
